.menucontainer {
    height: 64px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
}

.logoimg {
    height: 100%;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.logoimg:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

.itemcontainer {
    width: 120px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: grey;
    transition: all 0.3s ease;
}

.itemcontainer:hover {
    color: #1e90ff;
    cursor: pointer;
    transform: scale(1.05); /* Slight zoom on hover */
}